body{
    font-size: 1.2rem;
    color: #6d6d6e;
    background-color: #fff;
}



/* About Section */


.navbar-brand{
    color: #6d6d6e !important;
    /* margin-right: 600px; */
}


.top-menu{
    flex: 1;
    justify-content: flex-end;
}

ul.top-menu li a{
    color: #6d6d6e !important;
}

ul.top-menu li a:hover, ul.social li a:hover, a.navbar-brand:hover{
    color: #db30b6 !important;
}

.hello{
    margin-top: 120px;
}

.description{
    width: 70%;
    margin: 10px auto;
}

ul.social li a{
    font-size: 2.1rem;
    color: #6d6d6e !important;
    margin: 20px;
}

ul.social{
   display:flex;
   align-items: center;
    justify-content: center;
}

/* Projects Section */
.projects, .resume, .contact{
    width: 70%;
    margin: auto;
    margin-top: 120px;

}

.section-title{
    margin-bottom: 20px;
}

.project-description{
    font-size: 1rem;
}

a.project-name, a.portfolio-box{
    color: #db30b6 !important;
    text-decoration: none !important;
}

a.portfolio-box project-name:hover{
    cursor:pointer;
}