<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous">

    <title>Welcome Maria's Portfolio</title>
    <link rel="stylesheet" href="./css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./css/bootstrap-utilities.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/custom.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Maria Lobillo-Santos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="nav justify-content-end top-menu">
                <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#blog">Blog</a>
                </li>
              </ul>

          </div>
        </div>
      </nav>



    <div class="container">


    <section class="about" id="about">
        <div class="">

            <h2 class="text-center hello">
                Hello! I'm Maria</h2>
            <div style="text-align: justify">
                <p class="description">I’m a full-stack developer with a passion for crafting solutions in both JavaScript and PHP. 
                    I love sharing the insights and skills I pick up along the way, here my <a href="./files/Resume.pdf">resume.</a>
            </p>

            </div>

            <ul class="nav social">
                <li>
                    <a href="https://github.com/marialobillo/" aria-label="Github" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="https://twitter.com/maria_lobillo" aria-label="Twitter" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/lobillosantos/" aria-label="LinkedIn" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </section> <!-- about -->


    <!-- Portlofio -->
    <section id="projects" class="projects">
    <div class="container">
        <h2 class="mt-7 section-title">Projects</h2>
    </div>
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-3 col-sm-3 mx-4">
                <img src="./../images/demo-bookmark.png" alt="..." class="img-thumbnail">
                <a class="portfolio-box" href="https://www.frontendmentor.io/solutions/bookmark-tailwindcss-js-QFnYT9fHr3">
                    <div class="portfolio-box-caption">
                        <div class="project-name">Bookmark TailwindCSS</div>
                    </div>
                </a>
                <div class="project-description">
                    Frotend Challenge using Javascript and TailwindCSS.
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 mx-4">
                <img src="./../images/demo-stock.png" alt="..." class="img-thumbnail">
                <a class="portfolio-box" href="https://github.com/marialobillo/stock-trade">
                    <div class="portfolio-box-caption">
                        <div class="project-name">Stock Trade App</div>
                    </div>
                </a>
                <div class="project-description">
                    Application that let you manage your shares. Built with Expressjs, Reactjs, and Mongodb.
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 mx-4">
                <img src="./../images/demo-twitter.png" alt="..." class="img-thumbnail">
                <a class="portfolio-box" href="https://github.com/marialobillo/twitter-showcase">
                    <div class="portfolio-box-caption">
                        <div class="project-name">Twitter-Showcase App</div>
                    </div>
                </a>
                <div class="project-description">
                    Search twetts about any topic and see some random tweets using Twitter API.
                </div>

            </div>
            



        </div>
    </div>
    </section><!-- projects section end -->

     <!-- Blog -->
     <section id="blog" class="blog">

        <!-- Call to action -->
        <div class="page-section">
            <div class="container">
                <h2 class="text-center mt-0">Blog</h2>
            </div>
            <div class="container text-center">
                <div>
                    {% for post in site.posts %}
                        {% assign currentdate = post.date | date: "%B %Y" %}
                        {% if currentdate != date %}
                            <p id="y{{currentdate}}">{{ currentdate }}</p>
                            {% assign date = currentdate %}
                        {% endif %}
                            <p>
                                <a href="{{ post.url }}">
                                    {{ post.title }}
                                </a>
                            </p>
                    {% endfor %}
                    </div>

            </div>
        </div>
    </section><!-- End of blog/posts section -->

    </div>

    </div> <!-- container-->






      <script src="./js/bootstrap.bundle.min.js"></script>
      <script src="./js/bootstrap.min.js"></script>
</body>
</html>