

  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maria Lobillo-Santos | Fullstack Developer</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap" 
  rel="stylesheet">
  <link rel="stylesheet" href="./../css/bootstrap.min.css">
  <link rel="stylesheet" href="./../css/style.css">
</head>
<body>
  <div class="">

      <!-- Menu -->
      <div class="row">
        <div class="ml-auto p-2">
            <a 
            target="_blank"
            href="/blog">
                <img 
                class="posts-link"
                src="./images/posts.png" width="39"/>
            </a>
        
            <a 
            target="_blank"
            href="https://github.com/marialobillo">
                <img 
                class="github-link"
                src="./images/github.png" />
            </a>
            <a href="mailto:maria.lobillo.santos@gmail.com">
            <img 
                class="email-link"
                src="./images/email-1.jpg" />
            </a>
        </div>
      </div>
      <!-- Menu -->

     

    <div class="container">
      {{ content }}
    </div>

  
  </div>


  <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
</body>
</html>
