<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <header>
     <!-- Menu -->
  
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="sideNav">
      <a class="navbar-brand" href="/">
        Maria Lobillo-Santos
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse w-100 order-3 dual-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
        </ul>
      </div>
    </nav>
  
    <!-- Menu -->
    </header>
    <div class="row">
        <div class="col-md-10">
            <h2>{{ page.title }}</h2>
            <p class="meta">{{ page.date | date_to_string }}</p>
        
            <div class="post">
            {{ content }}
            </div>
        </div>
    </div>

    <footer>
      Footer
    </footer>
  </div>
</body>
</html>

