<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <header>
      Menu
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </header>
    <div class="row">
        <div class="col-md-10">
            <h2>{{ page.title }}</h2>
            <p class="meta">{{ page.date | date_to_string }}</p>
        
            <div class="post">
            {{ content }}
            </div>
        </div>
    </div>

    <footer>
      Footer
    </footer>
  </div>
</body>
</html>

