<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous">

    <title>Welcome Maria's Portfolio</title>
    <link rel="stylesheet" href="./css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./css/bootstrap-utilities.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/custom.css">
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Maria Lobillo-Santos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="nav justify-content-end top-menu">
                <li class="nav-item">
                  <a class="nav-link" href="/#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#projects">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#resume">Resume</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#blog">Blog</a>
                </li>
              </ul>

          </div>
        </div>
    </nav>


    <div class="container">

        <div class="row">
            <h1 class="display-3 hello">{{ page.title }}</h1>

        </div>

        <div class="row">
            <div class="col-md-8 justify-content-end">
                <span class="display-6">
                  {{ page.date | date_to_string }}
                </span>
                <p class="intro">
                   {{content}} 
                </p>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>


        
    
</body>
</html>